{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container" id="container">
    <div class="row">
        <div class="col-3">
            <h4>Введите первое число</h4>
            <label>
                <input type="number" class="form-control" id="input-1">
            </label>
        </div>
        <div class="col-3">
            <h4>Введите второе число</h4>
            <label>
                <input type="number" class="form-control" id="input-2">
            </label>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-success" id="add">Add</button>
    <button type="submit" class="btn btn-danger" id="subtract">Subtract</button>
    <button type="submit" class="btn btn-warning" id="multiply">Multiply</button>
    <button type="submit" class="btn btn-info" id="divide">Divide</button>
</div>
<script type="application/javascript">
    const container = document.getElementById('container');

    const input1 = document.getElementById('input-1');
    const input2 = document.getElementById('input-2');

    const add = document.getElementById('add');
    const subtract = document.getElementById('subtract');
    const multiply = document.getElementById('multiply');
    const divide = document.getElementById('divide');

    const res = document.createElement('p');
    res.className = 'result';

    let result = 0;

    add.addEventListener('click', function () {
        if (isNaN(input1.valueAsNumber) || isNaN(input2.valueAsNumber)) {
            res.innerText = 'Need to enter numbers!'
            res.style.color = 'red'
        } else {
            result = input1.valueAsNumber + input2.valueAsNumber
            res.innerText = `Result: ${result}`
            res.style.color = 'green'
        }
        container.append(res)
    });

    subtract.addEventListener('click', function () {
        if (isNaN(input1.valueAsNumber) || isNaN(input2.valueAsNumber)) {
            res.innerText = 'Need to enter numbers!'
            res.style.color = 'red'
        } else {
            result = input1.valueAsNumber - input2.valueAsNumber
            res.innerText = `Result: ${result}`
            res.style.color = 'green'
        }
        container.append(res)
    });

    multiply.addEventListener('click', function () {
        if (isNaN(input1.valueAsNumber) || isNaN(input2.valueAsNumber)) {
            res.innerText = 'Need to enter numbers!'
            res.style.color = 'red'
        } else {
            result = input1.valueAsNumber * input2.valueAsNumber
            res.innerText = `Result: ${result}`
            res.style.color = 'green'
        }
        container.append(res)
    });

    divide.addEventListener('click', function () {
        if (isNaN(input1.valueAsNumber) || isNaN(input2.valueAsNumber)) {
            res.innerText = 'Need to enter numbers!'
            res.style.color = 'red'
        } else {
            result = input1.valueAsNumber / input2.valueAsNumber
            res.innerText = `Result: ${result}`
            res.style.color = 'green'
        }
        container.append(res)
    });
</script>
</body>
</html>