{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container" id="container">
    <div class="row">
        <div class="col-3">
            <h4>Введите первое число</h4>
            <label for="A">
                <input type="number" class="form-control" id="A">
            </label>
        </div>
        <div class="col-3">
            <h4>Введите второе число</h4>
            <label for="B">
                <input type="number" class="form-control" id="B">
            </label>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-success" id="add" data-action="add">Add</button>
    <button type="button" class="btn btn-danger" id="subtract" data-action="subtract">Subtract</button>
    <button type="button" class="btn btn-warning" id="multiply" data-action="multiply">Multiply</button>
    <button type="button" class="btn btn-info" id="divide" data-action="divide">Divide</button>
    <br><br>
    Result: <p id="result"></p>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script type="application/javascript">
    $('.btn').click(function () {
        $.ajax({
            method: 'POST',
            url: $(this).data('action') + '/',
            data: JSON.stringify({
                'A': $('#A').val(),
                'B': $('#B').val()
            }),
            success: function (res) {
                $('#result').html(res.answer).css({'color': 'green', 'display': 'contents'})
            },
            error: function () {
                let msg = 'You entered empty data'
                $('#result').html(msg).css({'color': 'red', 'display': 'contents'})
            }
        })
    })
</script>
</body>
</html>